

@media (max-width: 768px) {

    body {

        background-color: lightgray;

    } }


html{
    scroll-behavior: smooth;
}
.display1 {
    font-weight: 900;
    font-size: 50px;
    color: blueviolet;
    font-family:  'Times New Roman';
    text-shadow: 0 0 30px blue;

}

.display2 {
    color: white;
    font-weight: 900;
    font-size: 30px;
    font-family:  'Times New Roman';
 margin-left: 60px;
    text-shadow: 0 0 30px blue;

}

.card {
    width: 300px;
    background-color: rgb(13, 8, 39);
    height: 200px;
    border-style: solid 5px;
    transition: transform 0.3s ease;

}

.card:hover {
    transform: scale(1.1);
}

.card-image-top{
   
    transition: transform 0.3s ease;

}

.card-image-top:hover {
    transform: scale(1.2);
   

}

.footer {
    width: 100%;
    height: 200px;
    background-color: rgb(62, 69, 69);
}

.header {
    width: 100%;
    height: 100px;
    background-color: rgb(7, 1, 9);
    position: static;
 
   
}

.nav-link{
    color: azure;
}

